job "example" {
        region = "global"
        datacenters = ["home"]

        priority = 50

	constraint {
		attribute = "$attr.kernel.name"
		value = "linux"
	}

	update {
		stagger = "10s"
		max_parallel = 1
	}

	group "cache" {
		task "redis" {
			driver = "docker"

			config {
				image = "redis:latest"
			}

			resources {
				cpu = 500      # Mhz
				memory = 256   # MB
				network {
					mbits = 10
					dynamic_ports = ["redis"]
				}
			}
		}
	}
}
