name = "node{{ '%02d' % local_id }}-client"
datacenter = "home"
bind_addr = "0.0.0.0"
data_dir = "/var/run/nomad/client{{ '%02d' % local_id }}"

log_level = "DEBUG"
enable_debug = false

{# TODO: set up syslog and add telemetry #}

leave_on_interrupt = true

client {
    enabled = true

    {# TODO: consider Consul #}
    servers = ["node01:4647",
               "node02:4647",
               "node03:4647"]
}

ports {
    http = 5656
}
